<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- Spring 컨테이너가 생성할 객체를 bean 등록한다. -->
	<bean id="tv" class="com.example.tv3.SamsungTV"></bean>
	
	<bean class="com.example.tv3.LgTV"></bean>
</beans>